<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.YuyuezhidaoMapper">
  <resultMap id="BaseResultMap" type="com.entity.Yuyuezhidao">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="jiaoshibianhao" jdbcType="VARCHAR" property="jiaoshibianhao" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="yuyueren" jdbcType="VARCHAR" property="yuyueren" />    <result column="yuyueshijian" jdbcType="VARCHAR" property="yuyueshijian" />    <result column="lianxifangshi" jdbcType="VARCHAR" property="lianxifangshi" />    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />    <result column="issh" jdbcType="VARCHAR" property="issh" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, jiaoshibianhao,xingming,yuyueren,yuyueshijian,lianxifangshi,beizhu,issh, addtime
  </sql>
  <select id="quchongYuyuezhidao"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from yuyuezhidao 
    where yuyueren = #{yuyueren,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from yuyuezhidao  where 1=1
    <if test="jiaoshibianhao!=null">and jiaoshibianhao like  concat('%',#{jiaoshibianhao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="yuyueren!=null">and yuyueren like  concat('%',#{yuyueren,jdbcType=VARCHAR},'%')</if>     <if test="yuyueshijian1!=null">and yuyueshijian &gt;=  concat('',#{yuyueshijian1,jdbcType=VARCHAR},'')</if>     <if test="yuyueshijian2!=null">and yuyueshijian &lt;=  concat('',#{yuyueshijian2,jdbcType=VARCHAR},'')</if>     <if test="lianxifangshi!=null">and lianxifangshi like  concat('%',#{lianxifangshi,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yuyuezhidao  where 1=1
    <if test="yuyueren!=null">
    and yuyueren =#{yuyueren}
    </if>
  </select>
  
  <select id="getsyyuyuezhidao1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yuyuezhidao  where 1=1
    limit 0,5
  </select>
  <select id="getsyyuyuezhidao2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yuyuezhidao  where 1=1
    limit 0,5
  </select>
  <select id="getsyyuyuezhidao3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yuyuezhidao  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from yuyuezhidao where 1=1 
     <if test="jiaoshibianhao!=null">and jiaoshibianhao like  concat('%',#{jiaoshibianhao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="yuyueren!=null">and yuyueren like  concat('%',#{yuyueren,jdbcType=VARCHAR},'%')</if>     <if test="yuyueshijian1!=null">and yuyueshijian &gt;=  concat('',#{yuyueshijian1,jdbcType=VARCHAR},'')</if>     <if test="yuyueshijian2!=null">and yuyueshijian &lt;=  concat('',#{yuyueshijian2,jdbcType=VARCHAR},'')</if>     <if test="lianxifangshi!=null">and lianxifangshi like  concat('%',#{lianxifangshi,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yuyuezhidao
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yuyuezhidao
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Yuyuezhidao">
    insert into yuyuezhidao (id, jiaoshibianhao,xingming,yuyueren,yuyueshijian,lianxifangshi,beizhu, addtime)
    values (#{id,jdbcType=INTEGER}, #{jiaoshibianhao,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{yuyueren,jdbcType=VARCHAR},#{yuyueshijian,jdbcType=VARCHAR},#{lianxifangshi,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Yuyuezhidao">
    insert into yuyuezhidao
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jiaoshibianhao != null"> jiaoshibianhao, </if>      <if test="xingming != null"> xingming, </if>      <if test="yuyueren != null"> yuyueren, </if>      <if test="yuyueshijian != null"> yuyueshijian, </if>      <if test="lianxifangshi != null"> lianxifangshi, </if>      <if test="beizhu != null"> beizhu, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jiaoshibianhao != null"> #{jiaoshibianhao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="yuyueren != null"> #{yuyueren,jdbcType=VARCHAR},</if>      <if test="yuyueshijian != null"> #{yuyueshijian,jdbcType=VARCHAR},</if>      <if test="lianxifangshi != null"> #{lianxifangshi,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Yuyuezhidao">
    update yuyuezhidao
    <set>
	  <if test="jiaoshibianhao != null"> jiaoshibianhao = #{jiaoshibianhao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="yuyueren != null"> yuyueren = #{yuyueren,jdbcType=VARCHAR},</if>      <if test="yuyueshijian != null"> yuyueshijian = #{yuyueshijian,jdbcType=VARCHAR},</if>      <if test="lianxifangshi != null"> lianxifangshi = #{lianxifangshi,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Yuyuezhidao">
    update yuyuezhidao
    set jiaoshibianhao = #{jiaoshibianhao,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},yuyueren = #{yuyueren,jdbcType=VARCHAR},yuyueshijian = #{yuyueshijian,jdbcType=VARCHAR},lianxifangshi = #{lianxifangshi,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
